.head {
  margin-top: 20px;
}

.form {
  margin-bottom: 30px;
  margin-top: 30px;
}

.word {
  float: left;
  width: 100px;
}

.description{
  color: red;
  display: inline-block;
}

.words {
  font-family: 'Bree Serif', serif;
  margin-left: 20%;
}
